* {
  margin: 0;
  padding: 0;
}

:root {
  --main: rgba(39, 55, 77, 0.9);
  --bg: #dde6ed;
  --button: #9db2bf;
}

body {
  font-family: Verdana;
  background-color: var(--bg);
  overflow-x: hidden;
  height: 1000px;
  min-width: 270px;
}

/*Navbar*/
.navbar {
  display: flex;
  padding: 1.4rem 7%;
  background-color: var(--main);
  justify-content: space-between;
  color: white;
  align-items: center;
  position: fixed;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .logo {
  position: absolute;
  font-size: 2.5rem;
  font-weight: 1000;
  color: var(--button);
}

.navbar .logo span {
  color: white;
}

.navbar .navbar-nav {
  display: flex;
  list-style: none;
  width: 90%;
  justify-content: right;
}

.navbar .navbar-nav a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: grey;
}

.navbar .regis {
  display: flex;
  list-style: none;
  background-color: #9db2bf;
  border-radius: 25px;
  margin: 0;
  min-width: 9rem;
}

.navbar .regis a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0.5rem 1rem;
}

.navbar .regis a:hover {
  color: grey;
}

/*hamburger menu*/
.navbar .menu-toggle {
  width: 18rem;
  position: absolute;
  right: 0;
}
.navbar .menu-toggle a {
  color: white;
  margin: 0 0.5rem;
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
}
.navbar .menu-toggle a:hover {
  color: grey;
}
.navbar .menu-toggle a#register2 {
  font-size: 2rem;
  background-color: #9db2bf;
  border-radius: 25px;
  padding: 0.5rem 1rem;
}

#hamburger-menu,
#register2 {
  display: none;
}

.gallery {
  padding: 7rem 4% 4rem;
  text-align: center;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gallery h2 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  color: black;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gallery-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery .gallery-judul h2 {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  background-color: var(--button);
  border-radius: 25px;
  padding-left: 1rem;
  padding-right: 1rem;
}

div.alamat p{
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: 1000;
  background-color: var(--button);
  border-radius: 50px;
}

/* ukuran laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
    display: inline-block;
  }
}

/* ukuran tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  div.regis {
    display: none !important;
  }
  #hamburger-menu,
  #register2 {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 35%;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
    display: block;
  }
  .navbar .navbar-nav a {
    color: var(--main);
    display: block;
    margin: 3rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

.footer {
  background-color: #27374d;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  margin-top: 40px;
}

.footer .navbar-logo {
  font-style: italic;
}

.footer .navbar-logo span {
  color: gray;
}

.footer .footer-logo {
  margin-bottom: 20px;
}

.footer .footer-logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.footer .footer-social-icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 5px;
}

.footer .footer-text {
  margin-top: 20px;
}
